@import url(https://fonts.googleapis.com/css?family=Roboto); 	

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    float: left;
    margin-top: 1.25%;
    margin-left: 1%;
	margin-bottom: -20%;
    width: 10%;
}

/*ESTILOS NAV*/

nav {
    width: 100%;
    background-color: rgb(42, 42, 42);
	height: auto;	
}

nav li {
    line-height: 600%;
}

nav ul li a {
	text-transform: uppercase;
    color: white;
    display: block;
    padding: 0% 2.5em;
    text-decoration: none;
}

nav ul li a:hover {
    background: rgba(18,72,140,255);
}

nav>ul {
    background-color: rgb(42, 42, 42);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav>ul>li>ul {
    position: absolute;
    display: none;
}

nav>ul>li:hover ul {
    display: block;
}

nav>ul>li>ul>li {
    background-color: #222;
	white-space: nowrap;
}

/* FIN ESTILOS NAV */

/*ESTILOS PRIMER PARRÃFO*/

.contenedor-slider img {
    width: 100%;
    height: auto;
	border-bottom: 2px solid white;
	border-top: 2px solid rgba(18,72,140,255);
}

.intro{
	background-color: #184c8c;
	width: 100%;
	color: white;
}

.class{
	background-color: #184c8c;
}
.intro h1>a{
    font-size: 300%;
    margin-bottom: 1em;
	color: white;
	text-decoration: none;
}

h1{
	text-align: center;
	margin-bottom:  30px;
	padding-top: 30px;
}

